   {{template "header1" .}}
    <!--中间内容-->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左边博客列表-->
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">关于&nbsp;&nbsp;{{.title}}&nbsp;&nbsp;的查询结果</h3>
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui orange header m-inline-block m-text-thin"> {{.numb}} </h2> 篇相关文章
                            </div>
                        </div>
                    </div>

                    <!--content-->
                    {{$name :=.user.Name}}
                    {{$head :=.user.UserImg}}
                    <div class="ui attached  segment">
                        {{range $index,$blog:=.blog}}
                            <div class="ui padded vertical segment m-padded-tb-large">
                                <div class="ui mobile reversed stackable grid">
                                    <div class="eleven wide column">
                                        <a href="/types/{{$blog.TypeName}}/{{$blog.Id}}" >
                                        <h3 class="ui header">{{$blog.Title}}</h3>
                                        </a>
                                        <p class="m-text">{{$blog.Description}}</p>

                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <img src="{{$head}}" alt=""
                                                             class="ui avatar image">
                                                        <div class="content"><a href="/about" class="header">{{$name}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i> {{$blog.UpdateTime}}
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i> {{$blog.Numb}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="/types/{{$blog.TypeName}}" target="_blank"
                                                   class="ui teal basic label m-padded-tiny m-text-thin">{{$blog.TypeName}}</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column">
                                        <a href="/types/{{$blog.TypeName}}/{{$blog.Id}}" target="_blank">
                                            <img src="{{$blog.Image}}" alt="" class="ui rounded image">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        {{end}}


                    </div>

                    <!--footer-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                {{if eq .page 1}}
                                {{else }}
                                <a href="/blogs/page/{{.page|notAdd}}" class="ui mini teal basic button">上一页</a>
                                {{end}}
                            </div>
                            <div class="right aligned column">
                                {{if lt .count 10}}
                                {{else}}
                                    <a href="/blogs/page/{{.page|add}}" class="ui mini teal basic button">下一页</a>
                                {{end}}

                            </div>
                        </div>
                    </div>

                </div>

                <!--右边的top-->
                <div class="five wide column">

                    <!--分类-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="/types" >more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                {{range $index,$rand :=.type}}
                                <a href="/types/{{$rand.TypeName}}" class="item">
                                    {{$rand.TypeName}}
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>
                                {{end}}
                            </div>
                        </div>
                    </div>

                    <!--标签-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="/tags" >more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            {{range $index,$rand2 :=.tag}}
                            <a href="/tags/{{$rand2.TagName}}"  class="ui teal basic left pointing label m-margin-tb-tiny">
                                {{$rand2.TagName}}
                            </a>
                            {{end}}
                        </div>
                    </div>

                    <!--最新推荐-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment ">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        {{range $index,$rand3 :=.recommend}}
                        <div class="ui segment">
                            <a href="/types/{{$rand3.TypeName}}/{{$rand3.Title}}" target="_blank" class="m-black m-text-thin">{{$rand3.Title}}</a>
                        </div>
                        {{end}}
                    </div>

                    <!--二维码-->
                    <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                    <div class="ui centered card" style="width: 11em">
                        <img src="/static/images/wechat.jpg" alt="" class="ui rounded image">
                    </div>
                </div>

            </div>
        </div>

    </div>

    <br>
    <br>
    {{template "footer1" .}}

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
    </body>
    </html>