<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博文修改</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="/static/css/me.css">
</head>
<body>

<!--导航-->
{{template "header".}}

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="/admin/blog/add" class="teal active item">发布</a>
            <a href="/admin/blog" class="item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="/admin/blog/edit" method="post" class="ui form">

            <div class="required field">
                <div class="ui left labeled input">
                    <select class="ui selection compact teal basic dropdown label" name="flag">
                        {{if eq .one.Flag "原创"}}
                            <option value="原创">原创</option>
                            <option value="转载">转载</option>
                        {{else}}
                            <option value="转载">转载</option>
                            <option value="原创">原创</option>
                        {{end}}
                    </select>
                    <input type="hidden" name="msg" value="3">
                    <input type="hidden" name="id" value="{{.id}}">
                    <input type="hidden" name="page" value="{{.page}}">
                    <input type="text" name="title" value="{{.one.Title}}">
                    <input type="hidden" name="numb" value="{{.one.Numb}}">
                </div>
            </div>

            <div class="field">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea placeholder="博客内容" name="content" style="display: none">{{.one.Content}}</textarea>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">分类</label>
                        <select class="ui fluid selection dropdown" name="typeId">
                            {{$typeid :=.one.TypeId}}
                            <option value="{{.one.TypeId}}">{{.oneTypeName.TypeName}}</option>
                            {{range $index2,$name2:=.typeName}}
                                {{if eq $typeid $name2.Id}}
                                {{else}}
                                    <option value="{{$name2.Id}}">{{$name2.TypeName}}</option>
                                {{end}}
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">标签</label>

                        <select multiple="" class="ui fluid selection multiple search  dropdown" name="tags">
                            {{range $index2,$name3:=.tagName}}
                                <option class="item" value="{{$name3.Id}}">{{$name3.TagName}}</option>
                            {{end}}
                        </select>
                        {{/*                        </div>*/}}
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" name="image" value="{{.one.Image}}">
                </div>

                <div class="required field">
                    <textarea name="description"  maxlength="200">{{.one.Description}}</textarea>
                </div>
            </div>
            <div class="ui checkbox">
                {{if eq .one.Recommend "是"}}
                    <input type="checkbox" name="recommend" checked value="是">
                    <label>推荐</label>
                {{else}}
                    <input type="checkbox" name="recommend" value="是">
                    <label>推荐</label>
                {{end}}
            </div>

            <div class="ui checkbox">
                {{if eq .one.ShareInfo "是"}}
                    <input type="checkbox" name="shareInfo" checked value="是">
                    <label>版权声明</label>
                {{else}}
                    <input type="checkbox" name="shareInfo" value="是">
                    <label>版权声明</label>
                {{end}}
            </div>

            <div class="ui checkbox">
                {{if eq .one.Appreciation "是"}}
                    <input type="checkbox" name="appreciation" checked value="是">
                    <label>赞赏</label>
                {{else}}
                    <input type="checkbox" name="appreciation" value="是">
                    <label>赞赏</label>
                {{end}}
            </div>

            <div class="ui checkbox">
                {{if eq .one.Comment "是"}}
                    <input type="checkbox" name="comment" checked value="是">
                    <label>评论</label>
                {{else}}
                    <input type="checkbox" name="comment" value="是">
                    <label>评论</label>
                {{end}}
            </div>


            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                {{/*          <button class="ui secondary button">保存</button>*/}}
                <button class="ui teal button">发布</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<!--底部footer-->
{{template "footer1".}}

<script src="/static/lib/editormd/editormd.min.js"></script>

<script>

    //初始化Markdown编辑器
    var contentEditor;
    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "/static/lib/editormd/lib/"
        });
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客标题'
                }]
            },
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客内容'
                }]
            },
            typeId: {
                identifier: 'typeId',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客分类'
                }]
            },

            description: {
                identifier: 'description',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客描述'
                }]
            }
        }
    });

</script>
</body>
</html>