<!DOCTYPE html>
<html lang="zh">
<head>
    {{template "head".}}
</head>

<body>

<div class="blog-masthead">
    {{template "bar".}}
</div>

<div class="container">

    <div class="blog-header">
        <div class="title_wrap">
            <h1 style="font-size: 28px;">关于{{.user.Name}}</h1>
            <p class="lead blog-description"> 还真有人点进来看了解{{.user.Name}}啊
                <span class="glyphicon glyphicon-question-sign
"></span>
            </p>
        </div>
        {{template "research".}}
        <div style="clear: both;"></div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-8 blog-main content">
            <div class="article-content card">

                {{.content}}

            </div>

            <div class="content-support" style="">
                {{/*                <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*/}}
                <!-- content 水平 -->
                {{/*                <ins class="adsbygoogle"*/}}
                {{/*                     style="display:block"*/}}
                {{/*                     data-ad-client="ca-pub-9340607337671005"*/}}
                {{/*                     data-ad-slot="2675939863"*/}}
                {{/*                     data-ad-format="horizontal"></ins>*/}}
                {{/*                <script>*/}}
                {{/*                    (adsbygoogle = window.adsbygoogle || []).push({});*/}}
                {{/*                </script>*/}}


            </div>



        </div><!-- /.blog-main -->

        {{template "sidebarabout".}}<!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<style>
    .footer-menu {
        padding: 20px 0 40px 0;
        color: #ffffff;
        background-color: #4056a1;
        margin-top: 20px;
    }

    .footer-menu h3 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 18px;
    }

    .footer-menu a {
        color: #ffffff;
    }

    .footer-col {
        margin-top: 28px;
    }

    .blog-footer {
        padding: 40px 0;
        color: rgba(255, 255, 255, .6);
        text-align: center;
        background-color: #2d2c2a;
    }
</style>

<footer>
    {{template "footer".}}<!-- /.blog-footer -->
</footer>


<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>


<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-10338482-28');

    function postData() {
        $("#comment-container").load("/comments", {
            "parentComment.id": $("[name='parentComment.id']").val(),
            "commentNickname": $("[name='commentNickname']").val(),
            "blog.id": $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        }, function (responseTxt, statusTxt, xhr) {
            $(window).scrollTo($('#comment-container'), 500);
            clearContent();
        });
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $("[name='reCommentName']").val(commentNickname);
        $(window).scrollTo($('#comment-form'), 500);
    }

</script>
</body>

</html>
