{{define "bar"}}
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {{.active1}}" href="/">首页</a>
            <a class="blog-nav-item {{.active6}}" href="/notes">叨吧叨</a>
            <a class="blog-nav-item" href="https://github.com/likewl/golang-design-pattern" target="_blank">go版本设计模式</a>
            <a class="blog-nav-item" href="/types/%e7%ae%97%e6%b3%95">算法</a>
            <a class="blog-nav-item" href="/types/TODO">TODO</a>
            <a class="blog-nav-item {{.active5}}" href="/about">关于我</a>
            <a class="blog-nav-item {{.active4}}" href="/archives">归档</a>
        </nav>
    </div>
{{end}}