{{define "note"}}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        {{template "head".}}
    </head>

    <body>

    <div class="blog-masthead">
        {{template "bar".}}
    </div>

    <div class="container">

        <div class="blog-header">
            <div class="title_wrap">
                <h1 style="font-size: 28px;">{{.user.Name}}叨吧叨</h1>
                <p class="lead blog-description">这里可能是键盘侠的天下<span class="glyphicon glyphicon-adjust"></span>
                </p>
            </div>
            {{template "research".}}
            <div style="clear: both;"></div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-8 blog-main content">
                {{range $index,$blog:=.types}}
                    {{$content:=safe $blog.Description}}
                    <div class="media card" style="margin-bottom: 15px;">
                        <div class="media-body">
                            <p class="article-info">{{$blog.UpdateTime}}</p>
                            <div class="article-desc">
                                {{$content}}
                            </div>
                        </div>
                    </div>
                {{end}}
                <ul class="pagination">
                    {{if eq .page 1}}
                        <li class="disabled"><span>&laquo; Previous</span></li>
                    {{else }}
                        <li><a href="/types/{{.name}}?page={{.page|notAdd}}" rel="next">&laquo; Previous</a></li>
                    {{end}}
                    {{if lt .count 10}}
                        <li class="disabled"><span>Next &raquo;</span></li>
                    {{else}}
                        <li><a href="/types/{{.name}}?page={{.page|add}}" rel="next">Next &raquo;</a></li>
                    {{end}}
                </ul>

            </div><!-- /.blog-main -->

            {{template "sidebarnote".}}

        </div><!-- /.row -->

    </div><!-- /.container -->

    <style>
        .footer-menu h3 {
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 18px;
        }

        .footer-menu a {
            color: #ffffff;
        }
    </style>

    <footer>
        {{template "footer".}}<!-- /.blog-footer -->

    </footer>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-10338482-28');
    </script>
    </body>
    </html>
{{end}}