{{define "research"}}
<div class="search_wrap">
    <div style="margin-top: 15px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="时光..." id="search_input">
            <span class="input-group-btn">
							<button class="btn btn-info" type="button" id="search_btn">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                搜索
                            </button>
						</span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
{{end}}